# 加密碟/卷 資訊

{% for host in ansible_play_hosts_all %}

Host {{ hostvars[host].inventory_hostname }} 的加密碟/卷 資訊
{{ veracrypt_bin_install_path }}/{{ hostvars[host].veracrypt_executable }} {{ hostvars[host].veracrypt_source_media }} {{ veracrypt_mount_point }}
{{ hostvars[host].veracrypt_password }}
{{ hostvars[host].veracrypt_pim }}

{% endfor %}
